.slider {
    /* 왼쪽 화살표랑 오른쪽 화살표의 위치 지정 땜에 relative로 해줌 */
    position: relative;
}

.slider__arrow-left {
    /* 배경 이미지를 content 영역(패딩 제외된 내부 내용)에만 적용되도록 설정 */
    background-clip: content-box;
    padding: 20px 0;
    /* 
        border랑 padding 까지 포함해서 너비랑 높이 계산
        설정한 width나 height보다 더 커지지 않게 도와줌
    */
    box-sizing: border-box;
    /* 
        모든 속성 변화가 0.3초 동안
        부드럽게(처음과 끝은 천천히, 중간은 빠르게) 움직이게 해줌 
    */
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    /* 다른 요소들 보다 앞으로 나오게 */
    z-index: 1000;

    /* 왼쪽 화살표 위치 때문에 absolute로 지정 */
    position: absolute;
    left: 0; top: 0;
    height: 100%;

    /* 중앙 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 왼쪽 화살표 숨김 */
    visibility: hidden;  
}

.slider__arrow-right {
    padding: 20px 0;
    background-clip: content-box;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    right: 0; top: 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
}

.arrow {
    transition: 400ms all ease-in-out;
}

.arrow:hover {
    transition: 400ms all ease-in-out;
    /* 요소 크기를 원래보다 1.5배 크게 */
    transform: scale(1.5);
}

.slider:hover .slider__arrow-left {
    transition: 400ms all ease-in-out;
    /* 숨겨진 상태(hidden)에서 다시 화면에 나타나게 할 때 */
    visibility: visible;
}

.slider__arrow-left:hover {
    /* 살짝 어두운 반투명 배경색 */
    background: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
}

.slider:hover .slider__arrow-right {
    transition: 400ms all ease-in-out;
    visibility: visible;
}

.slider__arrow-right:hover {
    background: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
}

.row__posters {
    display: flex;
    /* y 스크롤바 숨기기 */
    overflow-y: hidden; 
    /* x 스크롤바 보이기 */
    overflow-x: scroll;
    padding: 20px 0 20px 20px;
    /* 스크롤할 때 부드럽게 움직이도록 설정 */
    scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
    /* 크롬, 사파리 같은 웹킷 브라우저에서 .row__posters 요소의 스크롤바 숨김 */
    display: none;
}

.row__poster {
    /* 
        이미지나 비디오가 부모 영역에 맞게 크기 조절되는데
        비율은 유지하면서 전체가 다 보이도록 조절하는 속성 
   */
    object-fit: contain;
    width: 300px;
    max-height: 144px;
    margin-right: 10px;
    /* transform(변형) 속성이 바뀔 때 450밀리초 동안 부드럽게 애니메이션 효과 줌 */
    transition: transform 450ms;
    border-radius: 4px;
}

.row__poster:hover {
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .row__poster {
        max-width: 200px;
    }

    h2 {
        font-size: 1rem;
    }
}

